:host ::ng-deep {
  .leaflet-bottom {
    display: none;
  }
  .leaflet-touch .leaflet-bar a {
    text-decoration: none;
  }
  .leaflet-tile {
    filter: hue-rotate(35deg) !important;
  }
  .icon img {
    width: 30px;
    height: 30px;
  }
  .leaflet-control-container {
    position: absolute;
    right: 56px;
    bottom: 100px;
  }
  .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
    bottom: 18px !important;
  }
  .leaflet-popup-content-wrapper {
    background-color: rgba(250, 250, 250, 0.31);
    width: 170px;
    height: 170px;
    border-radius: 50%;
  }
  .popupCustom {
    .icon {
      position: absolute;
      border-radius: 50%;
      &:nth-child(1) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:nth-child(2) {
        right: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(3) {
        left: 8px;
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-child(4) {
        top: 20px;
        right: 30px;
      }
      &:nth-child(5) {
        top: 22px;
        left: 33px;
      }
      &:nth-child(6) {
        bottom: 10px;
        left: 15px;
        transform: translate(50%, -40%);
      }
      &:nth-child(7) {
        bottom: 10px;
        right: 15px;
        transform: translate(-50%, -40%);
      }
    }
  }
  img {
    cursor: pointer;
  }
  .map {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
}
