.video-container {
  height: 200px;
  border-radius: 16px;
  background-color: whitesmoke;
  video {
    height: 200px;
    width: 100% !important;
    border-radius: 16px;
  }
  position: relative;
  nb-icon {
    position: absolute;
    top: 12px;
    right: 15px;
    color: grey;
    padding: 2px;
    font-size: 1.5rem;
    box-sizing: content-box;
    border-radius: 50%;
    background-color: white;
  }
  p {
    position: absolute;
    top: 20px;
    left: 20px;
    color: white;
  }
}
