<nb-layout windowMode>
  <nb-layout-header>
    <ngx-header></ngx-header>
  </nb-layout-header>
  <nb-sidebar
    class="menu-sidebar sidebar"
    tag="menu-sidebar"
    responsive
    start
    id="nb-sidebar"
  >
    <div class="menu-item-collapse">
      <p>
          <img src="assets/images/images/infinity.svg" alt="" />
      </p>
    </div>
    <div class="menu-item-collapse">
      <p>
        <a class="sidebar-toggle" (click)="toggleSidebar()">
          <nb-icon icon="menu" class="menu-bar-icon compactedIcon"></nb-icon>
        </a>
      </p>
    </div>
    <ng-content select="nb-menu"></ng-content>
  </nb-sidebar>
  <nb-layout-column>
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>
</nb-layout>
