nb-layout nb-layout-column {
  background-color: #ebebeb;
  overflow-x: hidden;
}

.menu-sidebar ::ng-deep .scrollable {
  .colappase-img-infinty {
    width: 50px;
    margin-top: 40px;
    margin-left: 33%;
  }
  background-color: #3e65ee;

  overflow: hidden;

  padding: 0;
  nb-menu {
    margin: 0;
    ul.menu-items {
      padding-top: 20%;

      .menu-item {
        border-bottom: 0;
        a {
          text-transform: capitalize;
          font-size: 20px !important;
          font-weight: 400;
          line-height: 25px;
          background-color: transparent;
          padding-left: 0;
          svg {
            margin-left: 10px;
          }

          &.active {
            background-color: #c9c9c957;
            border-left: solid 0 transparent;

            span {
              margin-left: 20px;
            }
            .menu-title,
            .menu-icon {
              color: #fff;
            }
            .menu-icon {
              margin: 0;
              margin-right: 0 !important;
              font-size: 32px;
              color: #c9c9c9;
            }
          }
          &:not(.active) {
            .menu-icon {
              filter: grayscale(1);
            }
            border-left: solid 0 transparent;
            background-color: transparent;
            padding-left: 0;
          }
        }
        .menu-icon {
          margin: 0;
          margin-right: 20px !important;
          font-size: 32px;
          color: #c9c9c9;
        }
      }

      .menu-title {
        color: #c9c9c9;
      }
    }
  }
}
.compactedItem {
  display: none;
}
::ng-deep {
  .nb-theme-default nb-sidebar.compacted {
    width: 3.5rem;
    .colappase-img-infinty {
      margin-left: 6%;
    }
    .expandedItem {
      display: none;
    }
    svg {
      width: 45px;
      position: relative;
      top: 16px;
    }
    .compactedItem {
      display: block;
      .compactedItem-img {
        width: 50px;
        margin-left: 3px;
        margin-top: 40px;
      }
    }

    .menu-item a.active {
      margin-top: 22px;
      width: 100%;
      svg {
        position: relative;
        top: 4px;
        right: 6px;
      }
    }
    .menu-item {
      width: 100%;
    }
  }
  @media only screen and (max-width: 900px) {
    nb-sidebar.sidebar {
      width: 0;
    }
  }
}
