nb-sidebar.sidebar {
  overflow: hidden;
  background-color: #3e65ee;
  z-index: 55555555555;
  width: 11rem;
  .menu-item-collapse {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 17px;
    position: relative;
    top: 25px;
    img {
      &:nth-child(1) {
        width: 30px;
        transform: translateY(10px);
      }
    }
    p {
      color: #fff;
      cursor: pointer;
      font-size: 20px;
      a {
        .menu-bar-icon {
          font-size: 30px;
          position: relative;
          top: 32px;
        }
      }
    }
  }
}

nb-layout nb-layout-column {
  background-color: #ebebeb;
  overflow-x: hidden;
}
.menu-sidebar ::ng-deep .scrollable {
  overflow: hidden;
  overflow-y: hidden;
  padding: 0;
  nb-menu {
    margin: 0;
    ul.menu-items {
      padding-top: 20%;
      .menu-item {
        border-bottom: 0;
        a {
          text-transform: capitalize;
          font-size: 20px !important;
          font-weight: 400;
          line-height: 25px;
          border-left: solid 0 transparent;
          background-color: transparent;
          padding-left: 0;
          svg {
            margin-left: 10px;
            color: #fff;
          }

          &.active {
            background-color: #c9c9c957;
            span {
              margin-left: 20px;
            }
            .menu-title,
            .menu-icon {
              color: #fff;
            }
            .menu-icon {
              margin: 0;
              margin-right: 0 !important;
              font-size: 32px;
              color: #c9c9c9;
            }
          }
          &:not(.active) {
            .menu-icon {
              filter: grayscale(1);
            }
            border-left: none;
            background-color: transparent;
            padding-left: 0;
          }
        }
        .menu-icon {
          margin: 0;
          margin-right: 20px !important;
          font-size: 32px;
          color: #c9c9c9;
        }
      }

      .menu-title {
        color: #fff;
      }
    }
  }
}

::ng-deep {
  .menu-sidebar .scrollable {
    background-color: #3e65ee;
  }
  .nb-theme-default nb-layout .layout .layout-container nb-sidebar.fixed,
  .nb-theme-default
    nb-layout
    .layout
    .layout-container
    nb-sidebar
    .main-container-fixed {
    top: 0 !important;
  }
  .nb-theme-default nb-sidebar.compacted {
    nb-menu .menu-item a.active::before {
      background-color: transparent;
    }
    width: 3.5rem;
    .menu-item {
      width: 100% !important;
    }
    .menu-item-collapse {
      width: 100% !important;
      .menu-bar-icon {
        margin-right: 15px;
        position: relative;
        top: 10px !important;
      }
    }
    .expandedItem {
      display: none;
    }
    svg {
      width: 45px;
      position: relative;
      top: 16px;
    }
    .compactedIcon {
      font-size: 30px;
      position: relative;
      bottom: 30px;
    }

    .menu-item a.active {
      margin-top: 22px;
      width: 100%;
      background-color: white !important;
      border-radius: 8px;
      // transition: 0.4s ease-in-out;
      svg {
        position: relative;
        top: 4px;
        right: 6px;
        color: #fc9d2e !important;
      }
    }
    .menu-item {
      width: 100%;
    }
  }
  @media only screen and (max-width: 900px) {
    nb-sidebar.sidebar {
      // width: 0;
    }
  }
}

