nb-card {
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);

  nb-card-body {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow-y: hidden;
    position: relative;
    nb-icon {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #C6C6C6;
      padding: 4px;
      font-size: 1.5rem;
      box-sizing: content-box;
      border-radius: 50%;
      background-color: white;
    }
  }
  nb-card-footer {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none !important;
  }
  .img-container {
    img {
      max-height: 140px;
      width: 100%;
    }
  }
  h1 {
    font-weight: bold;
    font-size: 18px;
    color: #192758;
    margin: 14px 0 6px 18px !important;
    line-height: 18px;
  }
  p {
    font-size: 16px;
    line-height: 16px;
    color: #6e6e6e;
    margin: 0 0 10px 18px !important;
  }
}
