<nb-layout windowMode>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start id="nb-sidebar">
    <ul class="container containeer-menu-title">
      <li>
        <a class="sidebar-toggle" (click)="toggleSidebar()">
            <nb-icon icon="menu" class="menu-bar-icon" ></nb-icon>
        </a>
    </li>
      <li class="title">
              Menu
      </li>

  </ul>
    <ng-content select="nb-menu"></ng-content>
  </nb-sidebar>

  <nb-layout-column>
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>

  <!-- <nb-layout-footer fixed>
    <ngx-footer></ngx-footer>
  </nb-layout-footer> -->
</nb-layout>
