::ng-deep {
  .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column{
    padding-top: 0;
  }
  .nb-theme-default .features nb-layout.window-mode .layout nb-layout-header {
    display: none;
  }
  .features .menu-sidebar .scrollable nb-menu ul.menu-items .menu-item a svg {
    width: 26px !important;
  }
  .nb-theme-default
    .features
    nb-layout
    .layout
    .layout-container
    nb-sidebar
    .main-container-fixed {
    top: 0 !important;
  }
  .features {
    nb-sidebar.sidebar {
      .menu-item-collapse {
        a.menu-icon {
          left: 100% !important;
          transform: translateX(-50%);
        }
        .menu-bar-icon {
          font-size: 30px;
          position: relative;
          top: 0 !important;
        }
      }
      .scrollable nb-menu ul.menu-items .menu-item {
        &:nth-child(1) {
          margin-top: 20px !important;
          nb-icon {
            transform: translate(-50%, 10px);
          }
        }
        min-height: calc((100vh - 230px) / 7);
        a.active.menu-icon svg {
          color: #fff !important;
        }
      }
    }
  }
  .features .menu-sidebar .scrollable nb-menu ul.menu-items {
    .menu-title {
      font-size: 15px;
    }
    padding-top: 0 !important;
    .menu-item {
      text-align: center !important;
      position: relative;
      margin-bottom: 20px;
      a {
        padding-right: 0 !important;
        svg {
          margin-left: 0 !important;
          width: 22px !important;
        }
        .menu-icon {
          position: absolute;
          left: 50%;
          top: -38px;
          transform: translateX(-50%);
        }
        .menu-title {
          font-size: 16px !important;
        }
      }
    }
  }
}
::ng-deep .nb-theme-default .features {
  nb-sidebar.compacted {
    background-color: #3e65ee;
    .menu-item {
      width: 100% !important;
      .menu-item-collapse {
        width: 100% !important;
      }
    }
  }
}
::ng-deep.scrollable {
  overflow: hidden !important;
}
