::ng-deep {
  .nb-theme-default .features nb-layout.window-mode .layout nb-layout-header {
    display: none;
  }
  .features .menu-sidebar .scrollable nb-menu ul.menu-items .menu-item a svg {
    width: 26px !important;
  }
  .features {
    ul.menu-items {
      .menu-item {
        a {
          &.active {
            background-color: #c9c9c957;
          }
        }
      }
    }
  }
  .nb-theme-default
    .features
    nb-layout
    .layout
    .layout-container
    nb-sidebar
    .main-container-fixed {
    top: 0 !important;
  }
  .features {
    nb-sidebar.sidebar {
      .menu-item-collapse {
        // width: 3rem;
        a.menu-icon {
          left: 100% !important;
          transform: translateX(-50%);
        }
        .menu-bar-icon {
          font-size: 30px;
          position: relative;
          top: 0 !important;
        }
      }
      .scrollable nb-menu ul.menu-items .menu-item {
        &:nth-child(1) {
          margin-top: 30px !important;
          nb-icon {
            transform: translate(-50%, 10px);
          }
        }
        min-height: calc((100vh - 230px) / 7);
        a.active.menu-icon svg {
          color: #fff !important;
        }
      }
    }
  }
  .features .menu-sidebar .scrollable nb-menu ul.menu-items {
    .menu-title {
      font-size: 15px;
    }
    padding-top: 0 !important;
    .menu-item {
      text-align: center !important;
      position: relative;
      margin-bottom: 20px;
      a {
        padding-right: 0 !important;
        svg {
          margin-left: 0 !important;
          width: 22px !important;
        }
        .menu-icon {
          position: absolute;
          left: 50%;
          top: -38px;
          transform: translateX(-50%);
        }
        .menu-title {
          font-size: 16px !important;
        }
      }
    }
  }
}
::ng-deep .nb-theme-default .features {
  nb-sidebar.compacted {
    background-color: #3e65ee;
    .menu-item {
      width: 100% !important;

      .menu-item-collapse {
        width: 100% !important;
      }
    }
    .scrollable nb-menu ul.menu-items {
      .menu-item {
        // a:not(.active) {
        //   background-color: #fff !important;
        //   padding: 20px;
        //   box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        //   z-index: 999999999999999999999999999999;
        //   padding-left: 0;
        //   transition: 0.4s ease-in-out;
        //   transform: translate(14px, 20px);
        //   border-radius: 6px;
        //   .menu-icon {
        //     // filter: none;
        //     filter: none;
        //     color: #fc9d2e;
        //     font-size: 26px !important;
        //   }
        //   svg {
        //     top: 26px;
        //     color: #fc9d2e;
        //   }
        //   span {
        //     margin-left: 20px;
        //   }

        //   &:not(.active) {
        //     .menu-icon {
        //       filter: grayscale(1);
        //     }
        //     border-left: none;
        //     background-color: transparent;
        //     padding-left: 0;
        //   }
        // }
      }
    }
  }
}
.features ::ng-deep .scrollable {
  nb-menu {
    ul.menu-items {
      .menu-item {
        a {
          &.active {
            background-color: red !important;

        }
      }
    }
  }
}
}
