.container {
  padding-top: 30px;
  input,
  button {
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    padding: 12px;
  }
}

::ng-deep {
  span.custom-checkbox {
    margin: 10px 0;
  }
  .nb-theme-default [nbInput].status-basic {
    background: #fff;
  }
  .nb-theme-default [nbButton].appearance-filled.status-basic {
    background-color: #fff;
    border-color: #edf1f7;
    font-size: 15px;
    text-transform: capitalize;
    padding: 13px;
    color: #aaaaaa;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0;
  }
}
