<div class="container px-2 x">
  <div class="row mb-4 mt-4">
    <div class="col-lg-4">
      <ngx-search (valueChanged)="changed('search', $event)"></ngx-search>
    </div>
    <!-- <div class="col-lg-2">
      <input
        type="text"
        placeholder="Filters"
        nbInput
        shape="round"
        class="text-center"
        fullWidth
      />
    </div> -->
    <!-- <div class="col-lg-2">
      <button nbButton size="medium" fullWidth shape="round">
        Add Project
      </button>
    </div> -->
  </div>
  <div class="mt-5 row card-section">
    <div
      class="col-lg-3 col-md-6 col-sm-12"
      *ngFor="let item of ProjeData?.data?.items"
    >
      <ngx-project-card
        [createdAt]="adjustDate(item.createdAt)"
        [projectitem]="item"
      ></ngx-project-card>
    </div>
  </div>
</div>
