<ngx-navbar></ngx-navbar>
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <nb-form-field>
        <nb-icon nbSuffix icon="search" pack="eva"></nb-icon>
        <input type="text" placeholder="Search" nbInput shape="round" />
      </nb-form-field>
    </div>
    <div class="col-lg-2">
      <input
        type="text"
        placeholder="Filters"
        nbInput
        shape="round"
        class="text-center"
      />
    </div>
    <div class="col-lg-3 offset-1">
      <button nbButton size="medium" shape="round">Add Project</button>
    </div>
  </div>
  <div class="row card-section">
    <div
      class="col-lg-3 col-md-6 col-sm-12"
      *ngFor="let item of ProjeData?.data?.items"
    >
      <ngx-project-card [projectitem]="item"></ngx-project-card>
    </div>
  </div>
</div>
