.add-item {
  background: white;
  color: #a8a7a7;
  text-transform: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  nb-icon {
    color: #a8a7a7;
    position: relative;
    top: -2px;
    margin-right: 3px;
  }
}
.rightIcons img {
  &:nth-child(1) {
    border-style: none;
    width: 25px;
    height: 25px;
    padding: 4px;
    border-radius: 50%;
    border: 2px solid #a8a7a7;
    margin-right: 14px;
  }
  &:nth-child(2) {
    // transform: translateY(-25%);
    width: 45px;
    height: 45px;
  }
}
.charts-background {
  background-color: #eef2ff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 8px;
  justify-content: center;
  nb-card-body {
    ngx-charts-pie-chart {
      position: relative;
      left: 40px;
    }
  }
}

ngx-echarts-bar,
ngx-echarts-multiple-xaxis,
ngx-echarts-graph {
  display: block;
  height: nb-theme(card-height-medium);
  width: 100%;
}

::ng-deep {
  .nb-theme-default
  .documents
  .nb-form-field-control-with-suffix
  [nbInput].size-medium {
  height: 45px;
}
  // height: 100% !important;
  .echart {
    height: nb-theme(card-height-medium);
    width: 100%;
    @media (max-width: 767px) {
      height: nb-theme(card-height-small);
    }
  }
}
