<div class="px-5 mt-4 documents">
  <ngx-breadcrumbs></ngx-breadcrumbs>
  <div class="row justify-content-between">
    <div class="col-md-9 row">
      <div class="col-md-6">
        <ngx-search></ngx-search>
      </div>
      <div class="col-md-3">
        <button class="add-item">
          <nb-icon icon="plus-outline"></nb-icon>Add Project
        </button>
      </div>
    </div>
    <div class="col-md-3 rightIcons d-flex justify-content-end">
      <img src="assets/images/alert.svg" alt="" />
      <img src="assets/images/meti.svg" alt="" />
    </div>
  </div>

  <div class="row pt-4">
        <div class="col-12">
          <nb-card class="charts-background">
            <nb-card-body>
              <div class="line">
                <ngx-line-chart></ngx-line-chart>

              </div>
            </nb-card-body>
          </nb-card>
        </div>

      </div>
    </div>
