@import './themes';

@mixin nb-overrides() {
  nb-select.size-medium button {
    padding: 0.4375rem 2.2rem 0.4375rem 1.125rem !important;

    nb-icon {
      right: 0.41rem !important;
    }
  }
  .add-item {
    background-color: #2e96d5;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 17px;
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
    font-size: 16px;
    max-height: 44px;
    color: #ffffff;
    border-radius: 4px;
    height: 45px;
    cursor: pointer;
    nb-icon {
      margin-right: 2px;
      font-size: 1rem !important;
    }
    border-color: transparent !important;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    @media only screen and (max-width: 997px) {
      font-size: 14px;
    }
    @media only screen and (max-width: 426px) {
      font-size: 12px;
    }
  }
}
.nb-theme-default nb-menu .menu-item a {
  font-weight: 400 !important;
  font-size: 14px;
  font-family: Dosis;
}


