@import "~bootstrap/scss/mixins/breakpoints";
@import "~@nebular/theme/styles/global/breakpoints";
@import "../../styles/themes";

@include nb-install-component() {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .logo-container {
    display: flex;
    align-items: center;
    width: calc(#{nb-theme(sidebar-width)} - #{nb-theme(header-padding)});
    img {
      width: 80px;
      margin-top: 5px;
    }
  }

  ::ng-deep nb-search button {
    padding: 0 !important;
  }

  .header-container {
    display: flex;
    align-items: center;
    width: auto;
    img.logout-img {
      width: 40px;
      margin-left: 10px;
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(sm) {
    .control-item {
      display: none;
    }
    .user-action {
      border: none;
      padding: 0;
    }
  }

  @include media-breakpoint-down(is) {
    nb-select,
    .direction-switcher {
      display: none;
    }
  }
}

::ng-deep {
  .nb-theme-default
    nb-layout
    .layout
    .layout-container
    .content
    .columns
    nb-layout-column {
    padding: 2.25rem 0 0;
  }
  .nb-theme-default nb-layout.window-mode .layout nb-layout-header {
    background: #F3F3F3;
    z-index: 33;
  }
  // .nb-theme-default nb-layout.window-mode .layout nb-layout-header nav{
  //       margin: 0 auto;
  //       z-index: 5;
  //       width: 90%;
  //       position: relative;
  //       left: 6%;
  //       right: 3px;
  //       padding-right: 45px;
  // }
}
