nb-card {
  background-color: #fff;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 18px;
  text-transform: capitalize;
  cursor: pointer;
  nb-card-header {
    .overflow-ellipsis {
      span {
        display: inline-block;
        border-bottom: 4px solid #ff9a3d;
        position: relative;
        bottom: 9px;
        width: 40%;
      }
    }
  }
  .project-name {
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #898989;
  }
  .project-description {
    font-weight: 400;
    color: #898989;
  }
  nb-card-body {
    img {
      width: 100%;
      height: 94px;
      margin: 18px 0px 5px;
    }
  }
  nb-card-footer {
    display: flex;
    justify-content: space-between;
    .project-location {
      color: #898989;
      font-weight: 300;
    }

    nb-icon.folder-icon {
      background: radial-gradient(
        50.43% 50.46% at 50.43% 49.54%,
        #ebff00 0%,
        rgba(255, 246, 30, 0.07) 100%
      );
      font-size: 30px;
      color: #fff;
      width: 36px;
      height: auto;
    }
  }
  &.active {
    background-color: #4a70f8;
    transition: 0.4s ease-in-out;
    color: #fff;
    transform: translate(-10px, 2%);
    box-shadow: 12px 16px 5px rgb(226, 223, 223);
    nb-icon {
      color: #fff;
    }
    nb-card-footer .project-location {
      color: #fff;
    }
    .project-description {
      color: #fff;
    }
    .project-name {
      color: #fff;
    }
    nb-icon.folder-icon {
      background: radial-gradient(
        50.43% 50.46% at 50.43% 49.54%,
        #ebff00 0%,
        rgba(255, 246, 30, 0.07) 100%
      );
      font-size: 30px;
      color: #fff;
      width: 36px;
      height: auto;
    }
    .overflow-ellipsis {
      // color: rgba(231, 224, 224);
    }
  }
}

::ng-deep {
  .nb-theme-default nb-card-header {
    border-bottom: none;
  }
  .nb-theme-default nb-card-footer {
    border-top: none;
  }
}
