<nb-card [ngClass]="{'active': active}" (click)="routeMap()">
  <nb-card-header class="row mx-0 justify-content-between">
    <span class="overflow-ellipsis">{{createdAt}}
      <span></span>
    </span>
    <nb-icon
      icon="more-vertical"
      outline
      nbButton
      [nbContextMenu]="menuitems"
      nbContextMenuTag="project-card-Items"
    >
    </nb-icon>
  </nb-card-header>
  <nb-card-body>
    <h5 class="project-name">{{ projectitem.name }}</h5>
    <p class="project-description">{{ projectitem.description }}</p>
     <!-- <img
   src="{{ projectitem.imageUrl }}"
   alt=""
   class="image-card-organization-container-img img-fluid"
  /> -->
  </nb-card-body>
  <nb-card-footer>
    <p class="overflow-ellipsis" class="project-location">location</p>

    <nb-icon icon="file-text" pack="eva" class="folder-icon"> </nb-icon>
  </nb-card-footer>
</nb-card>
