::ng-deep {
  nb-layout nb-layout-column {
    background-color: #fff;
  }
  .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 0;
    height: 100vh;
  }
}
