<div class="px-5 mt-4 documents">
  <div class="row justify-content-between">
    <div class="col-9 row">
      <div class="col-sm-9 col-md-7">
        <ngx-search (valueChanged)="changed('search', $event)"></ngx-search>
      </div>
    </div>
    <div class="col-3 rightIcons d-flex justify-content-end align-items-center">
      <img src="assets/images/alert.svg" alt="" />
      <img src="assets/images/meti.svg" alt="" />
    </div>
  </div>
  <div class="px-3 row justify-content-end">
    <div class="col-md-4 d-flex justify-content-end numberDocs">
      <nb-icon
        icon="toggle"
        [class.active]="this.chosenFilter == 1"
        pack="svg"
        (click)="oneChoosed()"
      ></nb-icon>
      <nb-icon
        icon="four"
        [class.active]="this.chosenFilter == 4"
        pack="svg"
        (click)="fourChoosed()"
      ></nb-icon>
    </div>
  </div>
  <div
    *ngIf="this.chosenFilter == 4"
    class="d-flex justify-content-start flex-wrap"
  >
    <div *ngFor="let doc of documentsData" class="col-md-3 p-2">
      <ngx-document-card
        [documentData]="doc"
        [documentDate]="adjustDate(doc.createdAt)"
      ></ngx-document-card>
    </div>
  </div>
  <div *ngIf="this.chosenFilter == 1" class="w-100 text-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Created At</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doc of documentsData">
          <td><img src="assets/images/docImg.jpg" />{{ doc.name }}</td>
          <td>{{ doc.description }}</td>
          <td>{{ adjustDate(doc.createdAt) }}</td>
          <td>
            <nb-icon
              icon="more-horizontal-outline"
              pack="eva"
              [nbContextMenu]="items"
              [nbContextMenuPlacement]="'bottom'"
            ></nb-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
