<!-- <ngx-documents-card></ngx-documents-card> -->
<div class="documents px-5">
  <div
    class="ml-auto rightIcons d-flex align-items-center py-2 justify-content-end"
  >
    <img src="assets/images/alert.svg" alt="" />
    <img src="assets/images/meti.svg" alt="" />
  </div>
  <div class="horizontalLine"></div>
  <div class="row justify-content-start">
    <div class="col-md-7 col-lg-5">
      <ngx-search></ngx-search>
    </div>
    <div class="col-md-4 col-lg-2">
      <button class="add-item">
        <nb-icon icon="plus-outline"></nb-icon>Add Project
      </button>
    </div>
  </div>
  <div class="d-flex justify-content-end numberDocs pr-4">
    <nb-icon icon="toggle" [class.active]="this.chosenFilter==1" pack="svg" (click)="oneChoosed()"></nb-icon>
    <nb-icon icon="four" [class.active]="this.chosenFilter==4" pack="svg" (click)="fourChoosed()"></nb-icon>
  </div>
  <div
    *ngIf="this.chosenFilter == 4"
    class="mt-3 d-flex justify-content-center flex-wrap"
  >
    <div *ngFor="let doc of documentsData" class="col-md-3 p-2">
      <ngx-document-card [documentData]="doc" [documentDate]="adjustDate(doc.createdAt)"></ngx-document-card>
    </div>
  </div>
  <div *ngIf="this.chosenFilter == 1" class="w-100 text-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Created At</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doc of documentsData">
          <td><img src="assets/images/kitten-dark/png">{{doc.name}}</td>
          <td>xxxx</td>
          <td>{{adjustDate(doc.createdAt)}}</td>
          <td>
            <nb-icon
              icon="more-horizontal-outline"
              pack="eva"
              [nbContextMenu]="items"
              [nbContextMenuPlacement]="'bottom'"
            ></nb-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
