.documents {
  nb-icon {
    cursor: pointer;
  }
  .horizontalLine {
    margin-bottom: 50px;
    width: 100%;
    height: 4px;
    background-color: #dbdbdb;
  }
  .documentsCards {
    margin-top: 62px;
  }
  .add-item {
    background: #f2f5ff;
    color: #a8a7a7;
    text-transform: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    nb-icon {
      color: #a8a7a7;
      position: relative;
      top: -2px;
      margin-right: 3px;
    }
  }
  .rightIcons img {
    &:nth-child(1) {
      border-style: none;
      width: 30px;
      height: 30px;
      padding: 4px;
      border-radius: 50%;
      border: 2px solid #a8a7a7;
      margin-right: 14px;
    }
    &:nth-child(2) {
      width: 60px;
      height: 60px;
    }
  }
  .numberDocs {
    nb-icon {
      font-size: 1.5rem;
      color: #9e9e9e;
      &:nth-child(1) {
        font-size: 2.5rem;
        position: relative;
        transform: translateY(-21%);
        margin-right: 10px;
      }
    }
    nb-icon.active {
      color: #3e65ee !important;
    }
  }
  .smallChosen {
    flex-basis: 10%;
    ::ng-deep {
      nb-card {
        h1 {
          font-size: 16px;
          line-height: 16px;
        }
        p {
          margin-bottom: 0 !important;
        }
        img {
          max-height: 108px !important;
        }
        nb-card-footer {
          padding-top: 16px !important;
          padding-bottom: 5px !important;
        }
      }
    }
  }
}

::ng-deep {
  .nb-theme-default.documents [nbInput].status-basic {
    background: #f2f5ff !important;
  }
  .nb-theme-default
    nb-layout
    .layout
    .layout-container
    .content
    .columns
    nb-layout-column {
    background-color: white !important;
    padding: 0;
  }
  .table {
    th {
      text-align: left;
    }
    td {
      text-align: left;
      position: relative;
      img {
        width: 30px;
        height: 30px;
        margin-right: 8px;
      }
      nb-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
      }
    }
  }
}
