<div class="map-view menu-sidebar main-container">
  <nb-layout class="bg-success" windowMode>
    <nb-sidebar
      state="compacted"
      class="menu-sidebar main-container"
      tag="map-sidebar"
      fixed
    >
      <div class="Expand">
        <div class="px-4">
         <div class="fixedParts">
          <div
          class="header mt-2 d-flex justify-content-start align-items-center"
        >
          <img src="" alt="" />
          <!-- <nb-icon class="logo" icon="logo" pack="svg"></nb-icon> -->
          <h6>MEEG</h6>
          <div class="text-right ml-auto">
            <nb-icon
              class="toggle"
              icon="menu-outline"
              pack="eva"
              (click)="toggleCompact()"
            ></nb-icon>
          </div>
        </div>
        <div class="row mt-4 mb-1">
          <div class="col-lg-6"></div>
          <div class="col-lg-3">
            <button class="add-item">
              <nb-icon icon="funnel-outline"></nb-icon>Filters
            </button>
          </div>
          <div class="col-lg-3">
            <button class="add-item">
              <nb-icon icon="plus-outline"></nb-icon>Add Project
            </button>
          </div>
        </div>
        <div class="d-flex texts mb-3">
          <span>10 Results</span>
          <span>in Progress</span>
        </div>
         </div>
          <div class="projects-container">
            <div *ngFor="let project of ProjectsData">
              <ngx-map-card
                [isActive]="isActive(project.id)"
                [pname]="project.name"
                [description]="project.description"
                [imageUrl]="project.imageUrl"
                [createdAt]="this.adjustDate(project.createdAt)"
              ></ngx-map-card>
            </div>
          </div>
        </div>
      </div>
      <div class="Collapse text-center">
        <nb-icon
          class="toggle"
          icon="menu-outline"
          pack="eva"
          (click)="toggleCompact()"
        ></nb-icon>
      </div>
    </nb-sidebar>
    <nb-layout-column>
      <ngx-map></ngx-map>
    </nb-layout-column>
  </nb-layout>
</div>
