::ng-deep {
  .nb-theme-default
    .images
    .nb-form-field-control-with-suffix
    [nbInput].size-medium {
    height: 45px;
  }
  .nb-theme-default [nbInput].status-basic {
    background: #f2f5ff !important;
  }
  .nb-theme-default
    nb-layout
    .layout
    .layout-container
    .content
    .columns
    nb-layout-column {
    background-color: white !important;
    padding-top: 0;
  }
}
.images {
  @media screen and(max-width:440px) {
    padding-left: 25px !important;
    padding-right: 25px !important;
  }
  .add-item {
    background: #f2f5ff;
    color: #a8a7a7;
    text-transform: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    nb-icon {
      color: #a8a7a7;
      position: relative;
      top: -2px;
    }
  }
  .rightIcons img {
    &:nth-child(1) {
      border-style: none;
      width: 25px;
      height: 25px;
      padding: 4px;
      border-radius: 50%;
      border: 2px solid #a8a7a7;
      margin-right: 14px;
    }
    &:nth-child(2) {
      // transform: translateY(-25%);
      width: 45px;
      height: 45px;
    }
  }
  .controls {
    margin-top: 70px;
    .d-flex {
      &:nth-child(2) {
        @media screen and (max-width: 768px) {
          justify-content: space-between !important;
        }
      }
    }
    @media screen and (max-width: 768px) {
      display: block !important;
    }
    p {
      font-weight: 600;
      font-size: 28px;
      line-height: 28px;
      color: #504e4e;
      position: relative;
      top: -2px;
      @media screen and(max-width:440px) {
        font-size: 20px;
        line-height: 20px;
      }
      span {
        vertical-align: top;
        font-size: 18px;
        font-weight: 300;
        color: #a8a7a7;
      }
    }
    button {
      background-color: transparent;
      border: none;
      outline: none;
      position: relative;
      transform: translateY(-25%);
      span {
        position: relative;
        color: #a8a7a7;
        font-size: 14px;
        font-weight: 600 !important;
      }
      nb-icon {
        color: #a8a7a7;
      }
    }
  }
  .number {
    nb-icon {
      color: #adadad;
      font-size: 1.2rem;
      margin-left: 0.75rem;
      &:nth-child(1) {
        font-size: 2rem;
        position: relative;
        transform: translateY(-19%);
      }
    }
    nb-icon.active {
      color: #3e65ee !important;
    }
  }
  nb-icon {
    cursor: pointer;
  }
  .table {
    width: 100% !important;
    th {
      text-align: left;
      border-top: none;
      @media screen and(max-width:420px) {
        font-size: 13px;
      }
    }
    td {
      text-align: left;
      position: relative;
      @media screen and(max-width:427px) {
        font-size: 13px;
        padding: 0.75rem 0.25rem;
      }
      img {
        width: 30px;
        height: 30px;
        margin-right: 8px;
        @media screen and(max-width:427px) {
          width: 20px;
          height: 20px;
          margin-right: 4px;
        }
      }
      nb-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
      }
    }
  }
  .smallChosen {
    flex-basis: 150px;
    ::ng-deep {
      .img-container {
        img {
          max-height: 110px !important;
        }
        nb-icon {
          top: 7px;
          right: 7px;
          padding: 0;
        }
      }
    }
  }
}
