<div class="px-5 mt-4 images">
  <div class="row justify-content-between">
    <div class="col-9 row">
      <div class="col-sm-9 col-md-7">
        <ngx-search (valueChanged)="changed('search', $event)"></ngx-search>
      </div>
    </div>
    <div class="col-3 rightIcons d-flex justify-content-end align-items-center">
      <img src="assets/images/alert.svg" alt="" />
      <img src="assets/images/meti.svg" alt="" />
    </div>
  </div>
  <div class="d-flex justify-content-between controls">
    <p>Album Name - <span> {{images.length}} photos </span></p>
    <div class="d-flex">
      <div class="d-flex">
        <button class="">
          <nb-icon icon="plus-outline" class="ml-1"></nb-icon
          ><span>Add Photo</span>
        </button>
        <button class="">
          <nb-icon icon="list-outline" class="ml-1"></nb-icon
          ><span>Select</span>
        </button>
      </div>
      <div class="d-flex number ml-5">
        <nb-icon
          icon="toggle"
          [class.active]="this.chosenFilter == 1"
          pack="svg"
          (click)="oneChoosed()"
        ></nb-icon>
        <nb-icon
          icon="four"
          [class.active]="this.chosenFilter == 4"
          pack="svg"
          (click)="fourChoosed()"
        ></nb-icon>
        <nb-icon
          icon="nine"
          [class.active]="this.chosenFilter == 9"
          pack="svg"
          (click)="nineChoosed()"
        ></nb-icon>
      </div>
    </div>
  </div>

  <div
    *ngIf="this.chosenFilter == 4"
    class="imagesSection row justify-content-start"
  >
    <div *ngFor="let image of images" class="col-sm-6 col-md-3 p-2">
      <ngx-image-card [imageData]="image"></ngx-image-card>
    </div>
  </div>
  <div *ngIf="this.chosenFilter == 1">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Created At</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let image of this.images">
          <td><img [src]="image.url" />{{ image.name }}</td>
          <td>{{ adjustDate(image.createdAt) }}</td>
          <td>
            <nb-icon
              icon="more-horizontal-outline"
              pack="eva"
              [nbContextMenu]="imageItems"
              [nbContextMenuPlacement]="'bottom'"
            ></nb-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div
    *ngIf="this.chosenFilter == 9"
    class="row justify-content-start flex-wrap"
  >
    <div *ngFor="let image of images" class="smallChosen p-2">
      <ngx-image-card [imageData]='image'></ngx-image-card>
    </div>
  </div>
</div>