<div class="documents px-5">
  <div class="row justify-content-between">
    <div class="col-md-9 row">
      <div class="col-md-7">
        <ngx-search></ngx-search>
      </div>
    </div>
    <div class="col-md-3 rightIcons d-flex justify-content-end">
      <!-- <button class="add-item">
        <nb-icon icon="plus-outline"></nb-icon>Add Project
      </button> -->
      <img src="assets/images/alert.svg" alt="" />
      <img src="assets/images/meti.svg" alt="" />
    </div>
  </div>
  <div class="d-flex justify-content-between controls">
    <p>Album Name - <span> 17 photos </span></p>
    <div class="d-flex">
      <div class="d-flex">
        <button class="">
          <nb-icon icon="plus-outline"></nb-icon><span>Add Photo</span>
        </button>
        <button class="">
          <nb-icon icon="list-outline"></nb-icon><span>Select</span>
        </button>
      </div>
      <div class="d-flex number ml-5">
        <nb-icon
          icon="menu-outline"
          pack="eva"
          (click)="oneChoosed()"
        ></nb-icon>
        <nb-icon icon="four" pack="svg" (click)="fourChoosed()"></nb-icon>
        <nb-icon icon="nine" pack="svg"></nb-icon>
      </div>
    </div>
  </div>

  <div
    *ngIf="this.chosenFilter == 4"
    class="imagesSection row justify-content-center"
  >
    <div *ngFor="let image of images" class="col-md-3 p-2">
      <img [src]="image" alt="" class="img-fluid" />
    </div>
  </div>
  <div *ngIf="this.chosenFilter == 1" class="w-100 text-center">
    <div *ngFor="let image of images" class="p-2">
      <img [src]="image" alt="" class="img-fluid" />
    </div>
  </div>
  <div *ngIf="this.chosenFilter == 9" class="row justify-content-center">
    <!-- <div *ngFor="let image of images" class="p-2">
      <img [src]="image" alt="" class="img-fluid" />
    </div> -->
    <div class="col-md-6">
      <img [src]="image" alt="" class="img-fluid" />
    </div>
    <div class="col-md-3">
      <img [src]="image" alt="" class="img-fluid" />
    </div>
    <div class="col-md-3">
      <img [src]="image" alt="" class="img-fluid" />
    </div>
  </div>
</div>
<!-- <div class="imagesSection">
    <ngx-gallery
      [options]="galleryOptions"
      [images]="galleryImages"
      class="ngx-gallery"
    ></ngx-gallery>
  </div> -->
